title {
    display: none;
}

* {
    display: block;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-style: normal;
}

main, section, footer, h1, h2, p {
    margin: 20px 0;
}

p, li {
    text-align: justify;
}

.tag-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;

    .tag {
        margin: 0;
        padding: 5px 10px;
        border-radius: 20px;
        background-color: #F23041;
        color: #fff;
        font-weight: 700;

        &:nth-child(1) {
            background-color: #F23041;
        }

        &:nth-child(2) {
            background-color: #04B2D9;
        }

        &:nth-child(3) {
            background-color: #F2CB05;
        }

        &:nth-child(4) {
            background-color: #02733E;
        }
    }
}

nav {
    position: fixed;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #fff;
    width: 100%;
    z-index: 10;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

    ul {
        list-style: none;

        display: flex;
        justify-content: center;
        align-items: center;

        a {
            padding: 10px;
            text-align: center;
            text-decoration: none;
            color: #000;
        }

        a:hover {
            background-color: #005700;
            font-weight: bolder;
            color: #fff;
        }
    }
}


header {
    position: relative;
    
    height: 50vh;

    padding: 0 10%;
        
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 50vh;
        background: 
            linear-gradient(to right, rgba(1, 31, 106, 0.6), rgba(12, 139, 20, 0.6), rgba(109, 138, 13, 0.6)),
            url('../img/hero.jpg');

        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        filter: blur(1.5px);
        z-index: -1;
    }

    h1 {
        margin: 0;
        color: #fff;
        text-align: left;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 20px;
    }

    p {
        margin: 0;
        color: #fff;
        text-align: left;
        font-size: 15px;
        line-height: 20px;
    }
}

main {
    padding: 0 10%;
}


/* RECURSOS */

.entry {
    width: 300px;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 20px;

    h2 {
        margin: 0;
        text-align: center;
    }

    p {
        font-style: italic;
    }

    a {
        width: 100px;
        border-radius: 10px;
        padding: 10px;
        background-color: #fe1d1d;
        
        text-decoration: none;
        text-align: center;
        font-weight: bolder;
        color: #fff;
    }
}